* {
    font-family: 'DM Sans', sans-serif;
    margin: 0px;
}

h1, h2 {
    background-color: #555;
    color: #fff;
    text-align: center;
}

header {
    display: flex;
    justify-content: flex-end;
    top: 0px;
    padding: 4px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    justify-content: center;
}

img {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    margin: 10px;
    max-width: 100%;
}

.register_title {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    padding: 4px;
}

#employee_register {
    background-color: #f5f5f5;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 6px;
    padding: 6px;
    position: absolute;
    right: 1em;
    top: 125px;
}

.search_result {
    align-items: center;
    background-color: #b1faff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin: 10px 10px 0px 10px;
    width: 100%;
}

.employee_list_container {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    justify-content: center;
}

.employee_div {
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    display: flex;
    margin: 10px 10px 0px 10px;
    width: 100%;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    margin-bottom: 40px;
}

.button {
    cursor: pointer;
    margin: 4px;
}

.subContainer {
    display: flex;
    margin: 4px;
}

.category_div li,
.detail_div li {
    background-color: #ebfaff;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    padding: 2px;
}

.detail_div li:nth-child(4),
.detail_div li:nth-child(5),
.detail_div li:nth-child(6) {
    background-color: #d3f4ff;
    color: #d3f4ff;
}

.detail_div li:nth-child(4):hover,
.detail_div li:nth-child(5):hover,
.detail_div li:nth-child(6):hover {
    background-color: #ebfaff;
    color: #000;
}

.edit_mode li {
    background-color: #ffcece;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    padding: 2px;
}

.timer_container {
    display: flex;
    position: absolute;
    left: 0;
}